<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This page is about my favourite links</h1>
    <h2>Links</h2>
    <ul>
    <% @fav_link.each do |fav| %>
    <li><a href="<%= fav %>"><%= fav %></a></li>
    <% end %>
    </ul>
  </body>
</html>
